.intro{
    padding:7.4rem 0;
}

.introContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:5.2rem;
}

/* ----------------------------------------------- */
/* - - - - Image Aspect Ratio - - - -  */
/* ----------------------------------------------- */
.aspectRatio{
    padding-top: 66.67%;
}

/* ----------------------------------------------- */
/* - - - - Media Queries - - - -  */
/* ----------------------------------------------- */
@media (max-width:50em) {
    .introContainer{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}
