.primary, 
.primary--flex,
.secondary, 
.tertiary,
.footer{
  line-height: var(--line-height-medium);
  font-family: "Bebas Neue", sans-serif;
  color: var(--color-black);
  letter-spacing: 1px;
  font-weight: 400;
}


/* ----------------------------------------------- */
/* - - - -  Primary Flexible Title  - - - - */
/* ----------------------------------------------- */

.primary--flex{
  font-size: clamp(7.4rem, 8.6vw, 9.8rem);
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 0;
}

/* ----------------------------------------------- */
/* - - - -  Headings  - - - - */
/* ----------------------------------------------- */

.primary{
  font-size: clamp(7.4rem, 8.6vw, 9.8rem);
}

.secondary{
  font-size: clamp(3.6rem, 4.4vw, 5.2rem);
}

.tertiary{
  font-size: clamp(3rem, 3.3vw, 3.6rem);
}

/* ----------------------------------------------- */
/* - - - -  Media Queries  - - - - */
/* ----------------------------------------------- */

@media (max-width:42em){
  .primary--flex{
    flex-direction: column;
    font-size: clamp(7.4rem, 17.6vw, 19.2rem);
  }

  .primary{
    font-size: clamp(6.2rem, 14.4vw, 19.2rem);    
  }
}
