.loaderContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - 9.8rem);
}

.loader {
    position: absolute;
    top:20%;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: amfree 1s infinite linear alternate;
}

@keyframes amfree {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}