.hero{
    padding: 5.2rem 0; 
    background: var(--color-light-grey-transparent);
}

.heroContainer{
    width: 50%;
    margin: auto 0 clamp(2.4rem, 3.6vw, 4.4rem) auto;
}

/* ----------------------------------------------- */
/* - - - - Image Aspect Ratio - - - -  */
/* ----------------------------------------------- */

.aspectRatio{
    padding-top: 66.67%;
}

/* ----------------------------------------------- */
/* - - - - Hero Link - - - -  */
/* ----------------------------------------------- */

.collectionLink:link,
.collectionLink:visited{
    color: var(--color-taupe);
}

/* ----------------------------------------------- */
/* - - - - Media Queries - - - -  */
/* ----------------------------------------------- */
@media (max-width:48em){
    .heroContainer{
        width: 100%;
    }
}
