.menuList{
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap:2rem;
    column-gap: 3.2rem;
}

/* ----------------------------------------------- */
/* - - - - Media Queries - - - -  */
/* ----------------------------------------------- */
@media(max-width:64em){
    .menuList{
        flex-direction: row;
        flex-wrap: wrap;
    }
}