.categoriesView{
    padding: 7.4rem 0;
}

.categoriesViewContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 4.6rem;
}

/* ----------------------------------------------- */
/* - - - - Media Queries - - - -  */
/* ----------------------------------------------- */

@media (max-width:38em){
    .categoriesViewContainer{
        grid-template-columns: 1fr;
    }
}