.categoriesViewItem{
    width: 80%;
    margin: 0 auto;
}

/* ----------------------------------------------- */
/* - - - - Image Aspect Ratio - - - -  */
/* ----------------------------------------------- */

.squareAspectRatio {
    padding-top: 100%;
}

.portraitAspectRatio {
    padding-top: 178.79%;
}

/* ----------------------------------------------- */
/* - - - - Image Styles - - - -  */
/* ----------------------------------------------- */

.categoryImage{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:60em){
    .categoriesViewItem{
        width: 100%;
    }
}